doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | we are very glad that you have chosen us
            hr
            | your homework-7
            br
            a(href='https://github.com/YaroslavYedyn/node-hw') Repo homework-7 :)

