extends template
block content
    div.content
        | Hello #{name}  our dear friend,
        | your avatar
        -let myAttributes = { 'src': avatar, 'alt': 'my avatar' }
        img&attributes(myAttributes)
        | Please, activate your account.Visit on this link
        | jdnj #{avatar}
        - let url = 'http://localhost:5050/email/activate?token='
        a(href=url + token) Please here
