<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="display:flex;justify-content:center;align-items: center;">
<form style="width: 400px;height: 450px;background: darkred;
display:flex;flex-direction: column;justify-content:flex-start;align-items: center;"
      action="/auth"
      method="post">
    <label style="font-size: 30px; margin-top: 20px;">Register</label>
    <input style="margin-top: 15px;" type="text" name="username" placeholder="enter username">
    <input style="margin-top: 15px;" type="text" name="name" placeholder="enter name">
    <input style="margin-top: 15px;" type="text" name="lastname" placeholder="enter lastname">
    <input style="margin-top: 15px;" type="number" name="age" placeholder="enter age">
    <input style="margin-top: 15px;" type="text" name="password" placeholder="enter password">
    <input style="margin-top: 15px;" type="submit" value="Auth">
</form>
</body>
</html>
